<h1>Edit Recipe</h1>

<%= form_for :recipe, :url => recipe_path(@recipe), :html => { :multipart => true }, method: :patch do |f| %>
<% if @recipe.errors.any? %>
    <div class="alert alert-dismissible alert-danger">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <h2>Oops! You forgot to fill in
        <%= pluralize(@recipe.errors.count, "field") %>:
      </h2>
      <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.label "Upload Image" %><br>
    <%= f.file_field :image %>
  </p>
  <p>
    <%= f.label :prep_time %><br>
    <%= f.text_field :prep_time %>
  </p>

  <p>
    <%= f.label :cooking_time %><br>
    <%= f.text_field :cook_time %>
  </p>

  <p>
    <%= f.label :ingredients %><br>
    <%= f.text_area :ingredients %>
  </p>

  <p>
    <%= f.label :cooking_instructions %><br>
    <%= f.text_area :cooking_instructions %>
  </p>
  <p>
		<% if current_user == @recipe.user || current_user.admin? %>
    	<%= f.submit "Edit Recipe", class: "btn btn-primary"%>
    <% end %>
  </p>
<p>
  <% if current_user == @recipe.user || current_user.admin?  %>
  	<%= link_to 'Delete Recipe', recipe_path(@recipe), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
</p>

<% end %>