<div class="well bs-component">
  <legend>Edit Recipe</legend>
    <%= form_for :recipe, :url => recipe_path(@recipe), :html => { :multipart => true, :class => "form-horizontal", :role => 'form' }, method: :patch do |f| %>

    <% if @recipe.errors.any? %>
        <div class="alert alert-dismissible alert-danger">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <h2>Oops! You forgot to fill in
            <%= pluralize(@recipe.errors.count, "field") %>:
          </h2>
          <ul>
            <% @recipe.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
     
      <fieldset>
        <div class="form-group">
          <%= f.label :name, "Recipe Title", {class: "col-sm-3 control-label"} %>
          <div class="col-sm-6">
            <%= f.text_field :name, class: "form-control", placeholder: "Your Name" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :description, "Summary", class: "col-sm-3 control-label" %>
          <div class="col-sm-6">
            <%= f.text_area :description, class: "form-control", placeholder: "What makes this recipe special?" %>
          </div>
        </div>
        <div class="form-group">
          <%= link_to 'Change/Delete Image', edit_recipe_path(@recipe, :anchor => 'edit_image_form'), class: "col-sm-3 control-label" %>
          <div class="col-sm-6">
            
            <%= image_tag @recipe.image.url(:small) %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label "Select Meal", class: "col-sm-3 control-label" %>
            <div class="col-sm-6">  
            <%= f.collection_select :meal_id, Meal.all, :id, :name %>
          </div>
        </div> 
        <div class="form-group">
          <%= f.label :prep_time, "Prep Time", class: "col-sm-3 control-label" %>
          <div class="col-sm-6">
            <%= f.text_field :prep_time, class: "form-control", placeholder: "How long does it take to prep?" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :cooking_time, "Cooking Time", class: "col-sm-3 control-label" %>
          <div class="col-sm-6">
            <%= f.text_field :cook_time, class: "form-control", placeholder: "How long does it take to cook?" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :ingredients, class: "col-sm-3 control-label" %>
          <div class="col-sm-6">
            <%= f.text_area :ingredients, class: "form-control", placeholder: "Enter each ingredient separated by a comma." %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :cooking_instructions, "Cooking Instructions", class: "col-sm-3 control-label" %>
          <div class="col-sm-6">
            <%= f.text_area :cooking_instructions, class: "form-control", placeholder: "Enter each instruction separated by a comma." %>
          </div>
        </div>
        <div class="form-group">
      		<% if current_user == @recipe.user || current_user.admin? %>
          <div class="col-sm-offset-3 col-sm-6">
          	<%= f.submit "Edit Recipe", class: "btn btn-primary"%>
          <% end %>
          </div>
        </div>
        <div class="form-group">
          <% if current_user == @recipe.user || current_user.admin?  %>
          <div class="col-sm-offset-3 col-sm-9">
  	       <%= link_to 'Delete Recipe', recipe_path(@recipe), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
	       <% end %>
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Change/Delete Image</h3>
    </div>
    <div class="panel-body">
     <%= form_for @recipe, :html => {:class => "form-horizontal", :role => 'form', :id => "edit_image_form", :class => "form-horizontal"} do |f| %>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-6">
            <%= f.file_field :image %>
          </div>
        </div>
        <div class="form-group">
          <% if current_user == @recipe.user || current_user.admin? %>
          <div class="col-sm-offset-3 col-sm-6">
            <%= f.submit "Upload Image", class: "btn btn-primary btn-sm"%>
          <% end %>
          </div>
        </div>
        <div class="form-group">
          <% if current_user == @recipe.user || current_user.admin? %>
          <div class="col-sm-offset-3 col-sm-6">
            <%= link_to 'Delete Image', remove_recipe_image_path, class: "btn btn-danger btn-sm" %>
          <% end %>
          </div>
        </div>
    <% end %>
    </div>
</div>
  