<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title recipe-title">From <%= @recipe.user.first_name %> <%= @recipe.user.last_name %> 's Kitchen</h3>
    <% if current_user == @recipe.user || current_user.try(:admin?)  %>
      <%= link_to 'Edit Recipe', edit_recipe_path(:id => @recipe.id), class: "btn btn-info btn-xs float-rt-btn", role: "button" %>
    <% end %>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <%= image_tag @recipe.image.url(:large), class: "img-responsive" %>
      </div>
      <div class="col-md-6">
        <h2><%= @recipe.name %></h2>
        <blockquote>
          <p>“<%= @recipe.description %>”</p>
          <small><%= @recipe.user.first_name %> <%= @recipe.user.last_name %></small>
        </blockquote>
        <p><strong>Meal:</strong> <%= @recipe.meal.name %> 
        <strong>Prep:</strong> <%= @recipe.prep_time %> 
        <strong>Cook:</strong> <%= @recipe.cook_time %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 padding-start">
        <h3>Ingredients:</h3>
        <ul>
          <% @ingredients_array.each do |ingredient| %>
            <li><%= ingredient %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-6 padding-start">
        <h3>Instructions:</h3>
        <ol>
          <%  @cooking_instructions_array.each do |instruction| %>
          <li><%= instruction %></li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-primary panel-info-border">
  <div class="panel-heading">Comments</div>
  <div class="panel-body">
    <%= render @recipe.comments %>
    <% if user_signed_in? || current_user.try(:admin?) %>
        <%= render 'comments/form' %>
      <% else %>
      <h4> Please <a href="/users/sign_in">Log In</a> to comment. </h4>
    <% end %>
  </div>
</div>


 
  
  
