<p>
  <strong>Title:</strong>
  <%= @recipe.name %>
</p>
 
<p>
  <strong>Summary:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Prep Time:</strong>
  <%= @recipe.prep_time %>
</p>

<p>
  <strong>Cook Time:</strong>
  <%= @recipe.cook_time %>
</p>

<p>
  <strong>Ingredients:</strong>
  <ul>
    <%  @ingredients_array.each do |ingredient| %>
      <li><%= ingredient %> </li>
    <% end %>
  </ul>
</p>

<p>
  <strong>Instructions:</strong>
  <ol>
    <%  @cooking_instructions_array.each do |instruction| %>
      <li><%= instruction %> </li>
    <% end %>
  </ol>
</p>

