<!DOCTYPE html>
<html lang="en">
<head>
  <title>To Taste</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="container-fluid">
  	<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= image_tag "to-taste-logo.png"%></a>
      <a class="navbar-brand logo-tag" href="/"><p>To Taste</p></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav navbar-right">
        <%= form_tag(recipes_path, :method => "get", id: "search-form", class: "navbar-form navbar-right form-group" ) do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Recipes", class: "form-control input-sm" %>
          <%= submit_tag "Search", :name => nil, class: "btn btn-sm" %>
        <% end %>
        <% if user_signed_in? %>
          <li><a href="/users/sign_out" data-method="delete" rel="nofollow">Sign Out</a></li>
          <li><a class="sign-in-welcome">Welcome, <%= current_user.first_name %>!</a></li>
        <% else %> 
          <li><a href="/users/sign_up">Sign Up</a></li>
          <li><a href="/users/sign_in">Log In</a></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'All Recipes', recipes_path %><span class="sr-only">(current)</span></li>
        <li><%= link_to 'Add Recipe', new_recipe_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to 'My Recipes', user_recipes_path(current_user.id) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
<%= yield %>

	</div><!-- end container-->
</body>
</html>


